body {
    font-size: 80%;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

ul#tabs {
    list-style-type: none;
    margin: -5px 0 0 0;
    padding: 0 0 0.3em 0;
}

ul#tabs li {
    display: inline;
}

ul#tabs li a {
    color: #093484;
    background-color: #faf7be;
    border: 1px solid #c9c3ba;
    border-bottom: none;
    padding: 0.3em;
    text-decoration: none;
}

ul#tabs li a:hover {
    background-color: #f1f0ee;
}

ul#tabs li a.selected {
    color: #093484;
    background-color: #f1f0ee;
    font-weight: bold;
    padding: 0.7em 0.3em 0.38em 0.3em;
}

div.tabContent {
    border: 1px solid #c9c3ba;
    padding: 0.5em;
    background-color: #ffffff;;
}

div.bannerContent {
    width: 100%;
}

div.tabContent.hide {
    display: none;
}

h1#header {
    background-color: #faf7be;;
    color: #093484;;;
    padding: .1em;
}


h1#headersmall {
    background-color: #faf7be;;
    color: #093484;
    padding: .1em;
    font-size: medium;
}

h1#headerwhite {
    background-color: #ffffff;
    color: #ffffff;
    font-size: medium;
}

#aboutme li {
    list-style-type: square;
    list-style-image: url("listArrow2.gif");
}

#cv li {
    list-style-type: none;
    padding: 0px;
    margin-left: 0px;
}

#cv ul {
    padding-left: 0px;
    margin-left: 0px;
}


